body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://previews.123rf.com/images/oraziopuccio/oraziopuccio1907/oraziopuccio190700016/128980921-sunny-summer-background-with-the-thermometer-marking-a-temperature-over-40-degrees-and-bright-sun-on.jpg');
    background-size:95%;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
